.nameChoice {
    width: fit-content;
    box-sizing: border-box;
}
.nameSubmit {
    background-color: rgba(179,191,176,1.0);
    border: 3px outset rgba(28,40,51,0.7);
    color: black;
}
.nameInput {
    background-color: rgba(223, 214, 255, 0.4);
    border: 3px inset rgba(203, 194, 235, 0.8)
}