.choiceHeader {
    border-bottom: 2px groove rgba(28, 40, 51, 0.7);
    font-weight: bold;
    font-size: 1.5em;
}

.choiceButton {
    background-color: rgba(179,191,176,1.0);
    border: 3px outset rgba(28,40,51,0.7);
    color: black;
    margin: 2px;
}

.selectionContainer {
    columns: 2;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 2% 0;
}
.popupText {
    font-weight: bold;
    margin: 2% auto;
    font-size: 1em;
    align-self: center;
}
.branchPopup {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}