* {
    color: rgba(55,54,59,1.0);
}
html,body {
    height:100%;
}

.university_choice h2{
    border-bottom: 2px groove rgba(28, 40, 51, 0.7)
}

.university_choice button {
    margin: 2px;
}

.popup-overlay {
    background-image: linear-gradient(rgba(87, 114, 140, 0.7), rgba(111,146,179,0.75), rgba(87, 114, 140, 0.7))
}

.select_major {
    columns: 2;
}

.select_minor {
    columns: 2;
}

/* .dropdown.btn-group {
    margin: auto;
} */
.job_skills {
    display: flex;
    width: 100%;
    height: fit-content;
}

.btn-group {
    margin: 2px 2px;
    border-bottom: 1px solid black;
    border-radius: 5%;
}

.dropdown-toggle-split {
    border-left: 1px solid rgba(0, 0, 0, 0.18);
}